@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Poppins', sans-serif;
}
.container {
  max-width: 60%;
  margin: 0 auto;
  overflow: auto;
  min-height: 300px;
}
.loading {
  width: 50%;
  margin: 100px auto;
}
.loader {
  margin: 0 auto;
  border: 12px solid #f3f3f3;
  /* Light grey */
  border-top: 12px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 12px;
  height: 12px;
  animation: spin 1s ease-in-out infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.nav {
  width: 100%;
}
.nav h3 {
  display: inline-block;
  font-size: 20pt;
  color: #175f78;
  margin-top: 10px;
}
.nav ul {
  list-style: none;
  float: right;
  margin: 10px 0;
}
.nav ul li {
  display: inline-block;
  background-color: rgba(23, 95, 120, 0.2);
  border-radius: 4px;
  padding: 10px 20px;
  margin-left: 10px;
}
.nav ul li:hover {
  cursor: pointer;
  background-color: rgba(23, 95, 120, 0.5);
}
.nav ul .contactBtn {
  background-color: #175f78;
  color: white;
}
.nav ul .contactBtn:hover {
  background-color: rgba(23, 95, 120, 0.2);
  color: black;
}
.article-tile {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.article-tile .image {
  flex: 1;
}
.article-tile .image img {
  width: 300px;
}
.article-tile .article-data {
  flex: 2;
  display: inline-block;
  margin: 30px;
}
.article-tile .article-data h3 {
  font-size: 20pt;
}
.article-tile .article-data h4 {
  font-size: 12pt;
  font-weight: 300;
  margin-bottom: 20px;
}
.article-tile .article-data a {
  background-color: #175f78;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
}
.contact-form {
  margin: 30px 0;
}
.contact-form input {
  width: 50%;
  padding: 10px 20px;
  border: 2px solid #175f78;
  border-radius: 4px;
  margin-top: 10px;
  font-size: 12pt;
}
.contact-form input[type="submit"] {
  width: 25%;
  border: none;
  background-color: #175f78;
  color: white;
}
.contact-form input[type="submit"]:disabled {
  background-color: rgba(23, 95, 120, 0.2);
  color: grey;
}
.contact-form input[type="submit"]:disabled:hover {
  cursor: default;
  background-color: rgba(23, 95, 120, 0.2);
  color: grey;
}
.contact-form input[type="submit"]:hover {
  cursor: pointer;
  background-color: rgba(23, 95, 120, 0.2);
  color: black;
}
@media only screen and (max-width: 600px) {
  .container {
    max-width: 100%;
  }
  .nav h3 {
    display: block;
    text-align: center;
  }
  .nav ul {
    float: none;
  }
  .nav ul .contactBtn {
    display: none;
  }
  .article-tile {
    display: block;
  }
  .article-tile .image {
    margin: 10px;
  }
  .article-tile .image img {
    width: 100%;
  }
  .article-tile .article-data {
    margin: 10px;
  }
  .contact-form {
    display: block;
    text-align: center;
  }
  .contact-form input {
    width: 70%;
  }
  .contact-form input[type="submit"] {
    width: 50%;
  }
}
